*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lawngreen;
}

.logo {
  height: 70px;
  width: 70px;
  margin-right: 20px;
}

.form {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.addTodo__Input {
  margin: 20px;
  padding: 10px;
}

.addTodo__Button {
  padding: 10px;
  margin: 20px 0;
}
.addTodo__Select {
  margin: 20px 0;
}
.content {
  height: 84vh;
  display: flex;
  flex-wrap: wrap;
  background-color: beige;
  overflow-y: scroll;
  margin-top: 80px;
  margin-bottom: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em;
  background-color: greenyellow;
}
